#container {
    max-width: 1200px;
    margin: 10px auto;
    text-align: left;
    background: rgb(238, 174, 202);
    background: linear-gradient(207deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 10px;
    padding: 20px;
}

#container>h1 {
    font-size: 22px;
    color: rgb(119, 118, 118);

}

#container>h1>span {
    color: black;
}

#container>h3 {
    font-size: 22px;
    color: rgb(119, 118, 118);
    margin: 10px auto;
}

#container>h3>span {
    color: rgb(0, 0, 0);
}

#container>p {
    font-size: 18px;
    margin: 10px auto;
}